body {
    color: #fdffff;
    background: url("../images/1536061.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#pop-up {
    text-transform: capitalize;
    background: #c0c0c0;
    width: 50%;
    max-width: 960px;
    border: 2px solid #808080;
    border-top: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    padding: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#header {
    background: #010081;
    border: 1px solid #000000;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header > p {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto 0 1px;
    padding: 0;
}

#controls > div {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    color: #000000;
    background: #c0c0c0;
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin-left: -2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    cursor: pointer;
}

#controls > div:hover {
    background-color: #DDDDDD;
}

/* If it's the minimize button */
/* #controls > div > span {
    position: relative;
    bottom: 3px;
} */

/* CONTENT SECITION */
#content {
    background: #c0c0c0;
    max-height: 554px;
    overflow-y: scroll;
    border: 2px solid #808080;
    border-top: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    margin: 10px;
    padding: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
}

form > #password {
    font-size: 16px;
    font-family: inherit;
    text-transform: capitalize;
    text-align: center;
    color: #666666;
    background: #ffffff;
    border: 2px solid #808080;
    border-bottom: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    outline: none;
}

form > #password {
    font-size: 16px;
    font-family: inherit;
    text-transform: capitalize;
    text-align: left;
    color: #666666;
    background: #ffffff;
    border: 2px solid #808080;
    border-bottom: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    outline: none;
}

form > select {
    font-size: 16px;
    font-family: inherit;
    text-transform: capitalize;
    text-align: center;
    color: #666666;
    background: #ffffff;
    border: 2px solid #808080;
    border-bottom: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    outline: none;
    display: none;
}

#content > p {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto 0 1px;
    padding: 0;
}