body {
    background: #008080;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#pop-up {
    width: 80vw;
    height: 50vh;
    background: #C0C0C0;
    margin: 0px auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
    border: 5px #828182;
    border-style: inset;
    position: absolute;
    z-index: 2;
}

#banner {
    color: white;
    background: #020080;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#banner p {
    margin: 0 auto 0 0;
}

.symbol {
    background-color: #C0C0C0;
    border-style: inset;
    border: 1px 1px #C0C0C0;
    width: 16px;
    text-align: center;
    color: #030303;
}

#q_symbol {
    margin-right: 5px;
}

form {
    width: 50%;
    margin: 0 auto;
}

form > input {
    display: block;
}
