body {
	background-image: url(../images/windows.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pop-up {
	background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
	width: 750px;
	padding: 0px 5px 3px 3px;
	border-top: 1px solid #0831d9;
	border-right: 1px solid #001ea0;
    border-left: 1px solid #0831d9;
	border-top-left-radius: 8px;
    border-top-right-radius: 7px;
	box-shadow:
		inset -1px -1px #00138c, 
		inset 1px 1px #0831d9, 
		inset -2px -2px #001ea0, 
		inset 2px 2px #166aee, 
		inset -3px -3px #003bda, 
		inset 3px 3px #0855dd;
	position: absolute; /* To make it stack */
	user-select: none;
}

.pop-up > .header {
	height: 21px;
	padding: 3px 0px 3px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pop-up > .header > .title {
	color: #ffffff;
	font-weight: 700;
	font-size: 13px;
	font-family: "Trebuchet MS";
	letter-spacing: 0px;
	text-shadow: 1px 1px #0f1089;
	padding-left: 3px;
	margin: 0px;
}

.pop-up > .header > .controls {
	display: flex;
}

.pop-up > .header > .controls > button {
	background-color: #0050ee;
	background-repeat: no-repeat;
	background-position: 50%;
	min-width: 21px;
	max-width: 21px;
	min-height: 21px;
	max-height: 21px;;
	margin-left: 2px;
	border: none;
	border-radius: 4px;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	transition: filter 0.1s box-shadow 0.1s;
}

.pop-up > .header > .controls > button:hover {
    filter: brightness(1.2);
}

.pop-up > .header > .controls > button:active {
    box-shadow: inset 10px 4px 4px rgba(0, 0, 0, 0.5), inset -10px -4px -4px rgba(0, 0, 0, 0.5);
	filter: brightness(0.9);
}

button[aria-label="Help"] {
    background-image: url(../icons/help.png);
}

button[aria-label="Close"] {
	background-image: url(../icons/close.png);
}

/*--- Body Section ---*/
.pop-up > .content {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	background-color: #ece9d8;
	padding: 0px 0px 0px; /* use 8px for top/bottom margin, if need */
	display: flex;
	flex-direction: column;
}

.pop-up > .content > .navbar {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pop-up > .content > .navbar > li {
    font-size: 12px;
    font-family: "Pixelated MS Sans Serif", Arial;
    padding: 3px 4px;
    cursor: pointer;
}

.pop-up > .content > .navbar > li:hover {
    color: #ffffff;
    background-color: #0078d7;
}

/* Animation Section */
.pop-up > .animation {
    font-size: 16px;
    font-family: "Pixelated MS Sans Serif", Arial;
    background-color: #ffffff;
    height: 315px;
    margin: 0px;
    padding: 12px 8px;
    box-shadow: inset 0 1px 2px grey;
    overflow: scroll;
}

@font-face {
    font-family: W95A;
    src: url(https://fonts.cdnfonts.com/s/45697/W95FA.woff);
}

#text {
	top: 0px;
    left: 0px;
    position: relative;
    font-family: W95A, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 10px;
    padding: 0px;
}

#virus_gif {
	top: 5vh;
	display: none;
	position: absolute;
	z-index: 101;
}

#requirement {
	width: 315px;
	/* display: none; */
}

#requirement .content {
	max-height: 50vh;
	overflow: scroll;
}

#requirement .content p {
	line-height: 1.5;
	padding: 0px 6px;
}

#requirement .content ul {
	margin-top: 0px;
}

.status {
	background-color: #ece9d8;
	padding: 2px 1px;
	box-shadow: inset 0 1px 2px grey;
	display: flex;
}

.status p {
	font-size: 11px;
	font-family: "Pixelated MS Sans Serif", Arial;
	line-height: 1.5;
	border-right: 1px solid rgba(208,206,191,.75);
	border-left: 1px solid hsla(0,0%,100%,.75);
	padding: 1px 2px;
	margin: 0px;
	flex-grow: 1;
}

.status p:first-child {
	border-left: none;
	flex-grow: 2;
}

.status p:last-child {
	border-right: none;
	flex-grow: 2;
}


/*--- Body Section ---*/
#login {
	width: auto;
	/* display: none; */
}

#login > .content > .buttons {
	padding-bottom: 12px;
	display: flex;
	justify-content: center;
}

#login > .content > .buttons > button {
	font-size: 11px;;
	font-family: "Pixelated MS Sans Serif", Arial;
	background-color: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
	min-width: 75px;
    min-height: 23px;
	margin-left: 6px;
    padding: 0 12px;
	border: none;
	border-radius: 3px;
	outline: 1px solid #003c74;
	box-shadow: none;
	box-sizing: border-box;
}

#login > .content > .buttons > button:active {
	background-color: #d4d4d4;
}

#login > .content > .buttons > button:focus {
	border: 2px solid #FFD700;
}

#login > .content > .buttons > button:focus:not(:hover) {
	border: 2px solid #d6e4f3;
}

#login > .content form {
	width: 303px;
	margin: 12px 0;
	padding: 0px 6px;
	display: flex;
	flex-direction: column;
}

#login > .content form section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#login > .content form input {
	width: 215px;
}

#login > .content form select {
	width: 223px;
}